# Listiness.. or things that behave like lists

Python puts great stock in the idea of having  **protocols** or mechanisms of behavior, and identifying cases in which this behavior is common.

One of the most important ideas is that of things that behave like a *list of items*. 

These include lists, strings, and files. Many other data structures in Python are made to behave like lists as well, so that their content can be *iterated* through, in addition to their own native behavior.

## Lists

The first of these that we should consider, are, well, lists themselves :-). Lets see how python lists behave.

A list in Python is a sequence of anything!

Lists are mutable; you can insert and delete elements anytime.

In [1]:
# CREATING A LIST

# A list is made from zero or more elements, separated by commas, and surrounded by square
empty_list = []
working_days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print (working_days[2])

Wednesday

Notice that Python lists are indexed from 0. The first element gets index 0, the second element gets index 1, and so on. Thus `working_days[2]` gives us the 3rd element.

In [3]:
# An empty list can be created using the list() function:
next_empty_list = list()
print (type(next_empty_list))

<class 'list'>

In [2]:
working_days

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

![](https://github.com/iniyan1984/BasicPython/blob/main/listiness.slides.dir/3.png?raw=1)

There is a class of objects in Python that are not lists, bur rather, like lists, have a sequential existent. We dont want to generate them until we need them because they are easy to generate and would otherwise take up memory. An example is the
object created by the function `range(start, stop)` which just gives you sequential numbers from start to 1 before stop. To generate these numbers, we can pass them to the `list` function

In [4]:
range(1,10)

range(1, 10)

In [5]:
num_list = list(range(1,10)) 
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# Lists are mutable (elements are changeable) 
num_list = [1, 2, 3, 4]
num_list[1] = 8 
print (num_list)

[1, 8, 3, 4]

![](https://github.com/iniyan1984/BasicPython/blob/main/listiness.slides.dir/4.png?raw=1)

In [7]:
# Indexing a list
# - Any integer expression can be used as an index
# - If an index has a negative value, it counts from backward
lst = list(range(1,5))
print(lst)
print (lst[-1])

[1, 2, 3, 4]
4

You can get slices of lists

In [8]:
lst[0:3] # from 0, dont include whats at index 3

[1, 2, 3]

In [9]:
lst[-3:-1]

[2, 3]

In [10]:
# A list can have another list, or anything else as its element
numbers = [1, 2, 3, 4, 5]
courses = ['PP', 'BDA', "USP", 'WTA'] 
new_list = [numbers, courses, '6th sem'] 
print (new_list, len(new_list))

[[1, 2, 3, 4, 5], ['PP', 'BDA', 'USP', 'WTA'], '6th sem'] 3

In [ ]:
#Membership (using 'in' operator)
'a' in list_a

True

## Operations on lists

Lists support many methods which make using them simple. My favorite is `append`.

In [ ]:
# append(x) - Adds a new element 'x' at the end of the list
alist = ['a', 'b', 'c'] 
alist.append('d') 
print (alist)

['a', 'b', 'c', 'd']

In [ ]:
# insert(i, x) - inserts a new element 'x' at a specified index 'i'
alist.insert(2, "hello")
alist

['a', 'b', 'hello', 'c', 'd']

In [ ]:
# sorted(list) - returns the sorted 'list', but does not replace order in original list 
num = [ 4, 6, 2]
num = sorted(num)
num

[2, 4, 6]

In [ ]:
# pop(i) - removes and returns the element in index position 'i'
num = [4, 7, 2, 6, 3, 9] 
num.pop(3)
num

[4, 7, 2, 3, 9]

In [ ]:
# clear() - removes all the elements from a list.
num = [4, 7, 2, 6, 3, 9]
num.clear()
num

[]

Adding lists produces a bigger list! This is an example of a programming technique called operator overloading

In [11]:
first_list = [1, 2, 3]
second_list = ['a', 'b', 'c']
first_list + second_list

[1, 2, 3, 'a', 'b', 'c']

## Iterating over lists

Using a for loop to do iteration is quite simple.

In [12]:
num = [4, 7, 2, 6, 3, 9]
for ele in num:
    print(ele)

4
7
2
6
3
9

You can now mix in conditionals to filter your iteration:

In [13]:
for ele in num:
    if ele % 2 == 0: #even numbers only
        print(ele)

4
2
6

There is a short-cut iteration syntax called a list comprehension, often used to construct new lists

In [14]:
list_with_same_as_num = [e for e in num]
list_with_same_as_num

[4, 7, 2, 6, 3, 9]

This kind of syntax is really useful when combined with conditionals:

In [15]:
list_with_evens = [e for e in num if e % 2 == 0]
list_with_evens

[4, 2, 6]

## Strings

Strings such as `hello world` in python behave just like lists, and a lot of what you learn about lists applies to them: they are **iterable**, and they have a length! But they have one critical additional property: they are **immutable**, that is they cant be changed!

In [16]:
var = "This is a string"
print (var, len(var))
print (var[3]) # the s of This

This is a string 16
s

In [17]:
for char in var:
    print(char)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [18]:
var[3] = "t" # this will fail because immutability

TypeError: ignored

Strings can be sliced just as lists can

In [19]:
#String slicing
print(var)
print (var[6:])
print (var[1:3])
print (var[:-1])
print (var[2:10:2]) #the last parameter is for chagning the step size

This is a string
s a string
hi
This is a strin
i sa

![](https://github.com/iniyan1984/BasicPython/blob/main/listiness.slides.dir/7.png?raw=1)

## Files

The built-in `open()` function creates a Python file object, which serves as a link to a file residing on your machine. After calling 'open()', strings of data can be transferred to and from the associated external file by calling the returned file object's methods.

At this point, you can read data from the file as a whole (`read()`, or `n` bytes at a time, `read(n)`. You can read a line at a time with `readline()`, and all the lines into a list of strings with `readlines()`. Similar methods exist for writing.

You must close the file after you finish using it.

![](https://github.com/iniyan1984/BasicPython/blob/main/listiness.slides.dir/10.png?raw=1)

But as you might have expected, you can treat a file just like a list even more idiomatically, as we shall see.

In [ ]:
fd = open("data/Julius Caesar.txt")
counter = 0
for line in fd:
    if counter < 10: # print first 10 lines, there are lots!
        print("<<", line, ">>")
    counter = counter + 1 # also writeable as counter += 1
fd.close()

<< THE TRAGEDY OF JULIUS CAESAR
 >>
<<
 >>
<<
 >>
<< by William Shakespeare
 >>
<<
 >>
<<
 >>
<< Contents
 >>
<<
 >>
<< ACT I
 >>
<< Scene I. Rome. A street.
 >>

Notice that the newlines remain. You can use the string method `strip` to remove them. There are many such "methods", which are functions that belong to string "objects".

In [ ]:
fd = open("data/Julius Caesar.txt")
counter = 0
for line in fd:
    if counter < 10: # print first 10 lines
        print("<<", line.strip(), ">>")
    else:
        break # break out of for loop
    counter = counter + 1 # also writeable as counter += 1
fd.close()
print(counter)

<< THE TRAGEDY OF JULIUS CAESAR >>
<<  >>
<<  >>
<< by William Shakespeare >>
<<  >>
<<  >>
<< Contents >>
<<  >>
<< ACT I >>
<< Scene I. Rome. A street. >>
10

Above we added a `break` statement in the for loop which ended our iteration through the file (its the whole play!!!). You can use `readlines()` here but it will read the entire file into memory.

In [ ]:
fd = open("data/Julius Caesar.txt")
lines = [line.strip() for line in fd.readlines()]
fd.close()
print(len(lines))

4639

### What about writing?

Lets write the first ten lines out...

In [ ]:
fd = open("data/Julius Caesar.txt")
fd2 = open("data/julfirst10.txt", "w")
counter = 0
for line in fd:
    if counter < 10: # print first 10 lines
        print("<<", line.strip(), ">>")
        fd2.write(line)
    else:
        break # break out of for loop
    counter = counter + 1 # also writeable as counter += 1
fd.close()
fd2.close()
print(counter)

<< THE TRAGEDY OF JULIUS CAESAR >>
<<  >>
<<  >>
<< by William Shakespeare >>
<<  >>
<<  >>
<< Contents >>
<<  >>
<< ACT I >>
<< Scene I. Rome. A street. >>
10